* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    background-color: lightblue;
    background-image: url("geometric_wallpaper.jpg");  
    /*hello world*/
}

#login-wrapper {
    border-radius: 10px;
    background: white;
    padding: 30px; 
    width: 200px;
    height: 150px; 
    opacity: 0.8;
    border: 3px solid green;
}

p.big {
    line-height: .5;
}

.container {
    width: 250px;
    margin: auto;

}

#bod {
    border-radius: 6px;
    background: white;
    padding: 40px; 
    width: 200px;
    height: 150px; 
    opacity: 0.1;
}

#register-wrapper {
    width: 100px;
    float: right;
    height: 300px;
}

#loginB, #registerB {
    width: 100px;
    float: left;
    height: 300px;
}
#registerA {
    width: 100px;
    float: center;
    height: 300px;
}

.button {
    position:relative;
    width: auto;
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px green;
    background:green;
    text-align:center;
    padding:10px 15px 10px;
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    -webkit-box-shadow: 1px 4px 1px green;
    -moz-box-shadow: 1px 4px 1px lightgreen;
    box-shadow: 1px 4px 1px lightgreen;
   }

#login-email, #login-password, #register-email, #register-name, #register-password, #register-confirm-password {
    border-radius: 5px;
    border: 3px solid green;
    background-color: lightblue;
    width: 200px;
    height: 24px;
}
.spacing {
    margin-bottom: 4px;
}
.topspacing{
    margin-top : 9px;
}
.button:hover{
    background-color: darkgreen;
    -webkit-box-shadow: 0px 6px 0px darkgreen;
    -moz-box-shadow: 0px 6px 0px darkgreen;
    cursor: pointer;
}
.button:active{
    -webkit-box-shadow: 0px 2px 0px darkgreen;
    -moz-box-shadow: 0px 2px 0px darkgreen;
    box-shadow: 0px 2px 0px darkgreen;
    position:relative;
    top:4px;
   }