* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  list-style: none;
  overflow:visible; 
  overflow-y:scroll;
  height: 779px;
}

.hidden {
    display: none;
}

body {
    background-color: white;
}

#login-wrapper {
    border-radius: 10px;
    padding: 30px;
    width: 200px;
    height: 150px;
    border: #1c6a9d 2px solid;
}

p.big {
    line-height: .5;
}

.container {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    
}

#bod {
    border-radius: 6px;
    background: white;
    padding: 40px;
    width: 200px;
    height: 150px;
    opacity: 0.1;
}

#register-wrapper {
    width: 100px;
    float: right;
    height: 300px;
}

#loginB,
#registerB {
    width: 100px;
    float: left;
    height: 300px;
    font-family: 'Roboto', sans-serif;
}

#registerA {
    width: 100px;
    float: center;
    height: 300px;
    font-family: 'Roboto', sans-serif;
}

.button {
    position: relative;
    width: auto;
    color: #ecf0f1;
    text-decoration: none;
    border-radius: 5px;
    border: solid 1px #06619e;
    background: #10719e;
    text-align: center;
    padding: 10px 15px 10px;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;

    -webkit-box-shadow: 1px 4px 1px #06619e;
    -moz-box-shadow: 1px 4px 1px #06619e;
    box-shadow: 1px 4px 1px #06619e;
    font-family: 'Roboto', sans-serif;
}

#login-email,
#login-password,
#register-email,
#register-name,
#register-password,
#register-confirm-password {
    border-radius: 5px;
    border: 3px solid #06619e;
    background-color: lightblue;
    width: 200px;
    height: 20px;
}

.spacing {
    margin-bottom: 4px;
}

.topspacing {
    margin-top: 9px;
}

.button:hover {
    background-color: #2681ae;
    -webkit-box-shadow: 0px 6px 0px #06619e;
    -moz-box-shadow: 0px 6px 0px #06619e;
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow: 0px 2px 0px #06619e;
    -moz-box-shadow: 0px 2px 0px #06619e;
    box-shadow: 0px 2px 0px #06619e;
    position: relative;
    top: 4px;
}

.groups-wrapper {
    height: 100%;
    position: fixed;
    width: 20%;
    display: inline-block;
    background-color: white;
    border-right: 10px solid #333;
}

.group-button {
    background-color: #dae8ec;
    color: black;
    padding: 10px 24px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 87%;
    cursor: pointer;
    font-weight: bold;
}
.innerDiv1 {
    color:red;
    font-size: 10pt;
    background-color: whitesmoke;
    border-radius: 5px;
    height: 5px;
    font-weight: normal;
}
.innerDiv2 {
  color: green;
  font-size: 10pt;
  margin-left: 3%;
  background-color: whitesmoke;
  border-radius: 5px;
  height: 5px;
  font-weight: normal;
}

.group-button:hover {
    background-color: #98AFC7;
}

.logout-button {
    position: fixed;
    right: 0px;
    top: 0px;
    font-size: 17px;
    cursor: pointer;
}


/* Add a black background color to the top navigation */

.nav-wrapper {
    background-color: #4c8abd;
    overflow: hidden;
}

/* Style the links inside the navigation bar */

.nav-wrapper a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.nav-wrapper a:hover {
    background-color: #06619e;
}

/* Add a color to the active/current link */

.nav-wrapper a.active {
    background-color: #06619e;
    color: white;
}
.nav-wrapper a.actived {
    color: white;
}

#create-group-button{
    float: left;
    color: white;
    background-color: #06619e;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 8px;
    margin-left: 2px;
    
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
#create-group-button:hover{
    background-color: #2681ae;
}

#search-input{
    float: left;
    width: 230px;
    height: 25px;
    border-radius: 5px;
    border-color: black;
    background: whitesmoke;
    color: black;   
    margin-top: 8px;
    margin-left: 12px;
}

.newGroups{
    float: left;
    color: white;
    background-color: green;
}
#search {
    background-color: #333;
    height: 45px;
    width: 100%;
}
#searchButton{
    display:inline-block;
}

#search-button{
    float: right;
    height: 31px;
    width: 26px;
    margin-right: 7px;
    margin-top: 7px;
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    color:white;
    background-color: #06619e;
    display: inline-block;
}

#search-button:hover {
    background-color: #2681ae;
}

#current-group-wrapper {
    height: 100%;
    position: fixed;
    width: 80%;
    left: 20.5%;
    background-color: whitesmoke;
}
#group-details-wrapper{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    margin-top: 140px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    height: 35%;
}
.grouping{
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
}
.grouptxt {
    border-radius: 5px;
    width: 230px;
    height: 25px;
    border-color: black;
    background: whitesmoke;
    color: black; 
    font-family: 'Roboto', sans-serif;
}
#users-to-add-to-group-list {
    overflow:visible; 
    overflow-y:scroll;
    height:130px; width:30%;
    margin: auto;
    border-style: solid;
    border-color: black;
}
#groupTitle{
    width:100%;
    color: white;
    background-color: #333;
    height: 25px;
    text-align: center;
}
#group-name-input{
    float: center;
    margin-top: 1%;
}
#addingGroup {
    margin-top: 2%;
}
#confirmation {
    height: 30px;
    
    width: 100%;
    text-align: center;
}
#cancel-create-group-button {
    background-color: red;
}

#topName{
    color:white;
    background-color: #333;
    text-align: center;
    height: 45px;
    font-size: 25pt;
}
.dropbtn {
    background-image: url("makefg.png");
    height: 35px;
    width: 35px;
    font-size: 16px;
    border: none;
    background-size:contain;
    background-color: #333;
    float: right;
   
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: right;
    margin-right: 4.5%; 
    margin-top: .4%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: relative;
    display: none;
    background-color: #f1f1f1;

    margin-top: 100%;
    
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 10000000000;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropButton {
    color: white;
    background-color: #06619e;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    position: relative;
    right: 10%; 

}
.addPayment {
    margin-top: 1%;
    margin-left: 1%; 
    border-style: solid;
    border-color: #4c8abd;
    border-width: 1px;
    height: 800px;
    width: 80%;
    border-radius: 5px;
}
.addPayment1 {
    position: fixed;
    right: 1%;
    top: 108px;
    border-style: solid;
    border-color: #4c8abd;
    border-width: 1px;
    height: 800px;
    width: 13%;
    border-radius: 5px;
}
.payHeader {
    background-color: #4c8abd;
    color:white;
    text-align: center;
}
.payButton {
    text-align: center;
    color: white;
    background-color: #06619e;
    width: 90px;
    height: 25px;
    border-radius: 5px;
    margin-left: 190px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    
    -webkit-box-shadow: 1px 4px 1px #06619e;
    -moz-box-shadow: 1px 4px 1px #06619e;
    box-shadow: 1px 4px 1px #06619e;
    
    margin-bottom: 8px;
}


.user-list {
    text-align: center;
    float: right;
    width: 100%;
    /* margin-right: 10px; */
    
}

.user-delete-button {
    float: right;
    margin-right: 1px;
}

.user-list-item {
    background-color: #dae8ec;
    border-bottom: solid 1px black;
}


#payments-wrapper {
    text-align: center;
    overflow-y: scroll;
    height: 90%;
    width: 60%;
    border-style: solid;
    margin-top: 1%;
    border-color: #4c8abd;
    margin-left: 20%;
    border-radius: 5px;

}

.group-name-div {
    color : white;
    background-color: rgb(190, 96, 96);
    /* border-radius: 5px; */
    /* margin-top: 1%; */
    

}

.total-payment-div {
    color : black;
    background-color: #ecf0e9;
    /* border-radius: 5px; */

}
#paymentTitle {
    color: white;
    background-color: #4c8abd;
}
.conf-button {
    color: white;
    background-color: #06619e;
}
.divvy {
    border-bottom: groove;
    border-color: black;
    border-width: 1px;
    height: auto;
    text-align: center;
}